* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--background-color);
  color: var(--assistant-color);
}

:root {
  --primary-color: #fa154b;
  --secondary-color: #08295e;
  --assistant-color: #fff;
  --background-color: #131313;
}

main {
  padding: 8rem 8rem;
  display: flex;
  justify-content: flex-start;
  gap: 30rem;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
}

span {
  font-size: 1.1rem;
}

input {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  width: 23rem;
  border: none;
  border-radius: 1rem;
}

input:focus {
  border: .1rem solid var(--primary-color);
  outline: none;
}

textarea {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  width: 23rem;
  border: none;
  border-radius: 1rem;
}

textarea:focus {
  border: .1rem solid var(--primary-color);
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.form {
  margin-top: 2rem;
  transition: all ease-out .3s;
}

.form-tasks {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.btn-primary {
  margin-top: .5rem;
  margin-left: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  width: 8rem;
  border: none; 
  border-radius: 1rem;
  color: var(--assistant-color);
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: all ease-out .3s;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.card {
  padding: .8rem .8rem;
  height: auto;
  width: 100%;
  background-color: var(--assistant-color);
  color: var(--background-color);
  border-radius: 1rem;
}

.task-end {
  margin-top: .5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: .5rem;
}

.task-actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: .5rem;
}

.time {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: .5rem;
}

.btn-delete {
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  border-radius: .8rem;
  background-color: #ff0000;
  cursor: pointer;
}

.btn-delete svg {
  width: 25px;
  height: 25px;
}

.btn-concluded {
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  border-radius: .8rem;
  background-color: #008000;
  cursor: pointer;
}

.btn-concluded svg {
  width: 25px;
  height: 25px;
}

.done h4 {
  text-decoration: line-through;
}